.container {
  position: relative;
}

input {
  font-size: 20px;
  background: rgba(0,0,0,0.2);
  border: none;
  border-bottom: 2px solid black;
}

input:focus {
  outline: none;
}

.bottom-input-wrapper {
  text-align: center;
}

.bottom-buttons-wrapper {
  display: inline-block;
}

#hangman-game {
  margin-top: 20px;
}

.chalkboard {
  background: #377237;
  background: -webkit-linear-gradient(bottom, #174e13, #377237);
  background: -o-linear-gradient(top, #174e13, #377237);
  background: -moz-linear-gradient(top, #174e13, #377237);
  background: linear-gradient(to top, #174e13 , #377237);
  border: 12px solid #9a6b19;
  padding: 20px 30px;
  margin-bottom: 50px;
}

.title-heading {
  padding: 30px 40px;
  background: white;
  background: -webkit-linear-gradient(top, #aaa, white);
  background: -o-linear-gradient(bottom, #aaa, white);
  background: -moz-linear-gradient(bottom, #aaa, white);
  background: linear-gradient(to bottom, #aaa , white);
}

.title-heading h1 {
  margin: 0;
}

.hangman-outer-wrapper {
  padding-top: 20px;
  text-align: center;
}

.hangman-wrapper {
  display: inline-block;
}

.head {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  visibility: hidden;
}

.mid-body-wrapper {
  height: 100px;
  position: relative;
}

.torso {
  width: 2px;
  height: 100%;
  display: inline-block;
  border: 1px solid white;
  visibility: hidden;
}

.left-arm-1, .right-arm-1 {
  height: 50px;
  width: 24px;
  position: absolute;
  top: 20px;
  border-top: 2px solid white;
  visibility: hidden;
}

.left-arm-2, .right-arm-2 {
  height: 50px;
  width: 24px;
  position: absolute;
  top: 20px;
  visibility: hidden;
}

.right-arm-1 {
  right: 0;
}

.left-arm-2 {
  border-left: 2px solid white;
}

.right-arm-2 {
  right: 0;
  border-right: 2px solid white;
}

.lower-body-wrapper {
  height: 60px;
  width: 30px;
  position: relative;
  margin: auto;
}

.left-leg-1, .right-leg-1 {
    position: absolute;
    height: 100%;
    width: 16px;
    border-top: 2px solid white;
    visibility: hidden;
}

.left-leg-2, .right-leg-2 {
    position: absolute;
    height: 100%;
    width: 15px;
    visibility: hidden;
}

.right-leg-1 {
  right: 0;
}

.left-leg-2 {
  border-left: 2px solid white;
}

.right-leg-2 {
  right: 0;
  border-right: 2px solid white;
}

.user-input-row {
  margin-top: 40px;
}

#message-box {
  color: white;
}

input#input-letter {
    font-size: 35px;
    width: 70px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    color: white;
}

#input-new-word {
  padding: 5px 10px;
}

button#submit-letter {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.word-letters-wrapper {
  text-align: right;
  padding-right: 30px;
}

ol#word-letters > li {
  display: inline-block;
  color: white;
  font-size: 35px;
  padding: 0 20px;
  border-bottom: 2px solid white;
  margin: 0 5px;
}

ol#word-letters {
  list-style-type: none;
}

div#game-over-screen {
  position: absolute;
  background: rgba(30,30,30,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  display: none;
}

.game-over-inside {
  height: 100%;
  position: relative;
}

.game-over-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#game-over-heading {
  color: white;
  font-size: 80px;
}

#correct-word {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}

#btn-play-again {
  font-size: 30px;
}
